<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Eshop.UI</title>
    <link href="~/lib/bulma/css/bulma.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>

    <a class="nav-link text-dark" asp-area="" asp-page="/Admin/Index">Admin</a>
    <a class="nav-link text-dark" asp-area="" asp-page="/Accounts/Login">Sign In</a>
    <a asp-controller="Account" asp-action="Logout">Sign Out</a>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - Eshop.UI
        </div>
    </footer>

    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
