@page
@model OrdersModel
@{
}

<div id="app">
    <div v-if="selectedOrder === null">
        <div class="tabs is-centered">
            <ul>
                <li v-bind:class="{'is-active': status === 0}"><a @@click="status = 0">Pending</a></li>
                <li v-bind:class="{'is-active': status === 1}"><a @@click="status = 1">Packed</a></li>
                <li v-bind:class="{'is-active': status === 2}"><a @@click="status = 2">Shipped</a></li>
                <li v-bind:class="{'is-active': status === 3}"><a @@click="status = 3">Completed</a></li>
            </ul>
        </div>
        <div v-if="orders.length > 0">
            <table class="table">
                <tr>
                    <th>Id</th>
                    <th>Order Reference</th>
                    <th>User Email</th>
                    <th></th>
                </tr>
                <tr v-for="order in orders">
                    <td>{{order.id}}</td>
                    <td><a @@click="selectOrder(order.id)">{{order.orderRef}}</a></td>
                    <td>{{order.email}}</td>
                    <td><button @@click="selectOrder(order.id)">Edit</button></td>
                </tr>
            </table>
        </div>
    </div>
    <div v-else>
        <div class="field">
            <button class="button" @@click="exitOrder()">Exit</button>
        </div>
        <p class="title">Order</p>


        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Order Reference</th>
                    <th>Email</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{selectedOrder.id}}</td>
                    <td>{{selectedOrder.orderRef}}</td>
                    <td>{{selectedOrder.email}}</td>
                </tr>
            </tbody>
        </table>

        <div>
            <button class="button is-success" @@click="updateOrder()">Process</button>
        </div>
    </div>
</div>


@section scripts {
    <script src="~/js/admin/orders.js"></script>
}