@page
@model Eshop.UI.Pages.Checkout.CustomerInformationModel
@{
}
<div>
    <div class="columns">
        <div class="column is-5">
            <form method="post">
                <div class="field">
                    <p class="control">
                        <label class="label">First Name</label>
                        <div class="control">
                            <input class="input" type="text" placeholder="e.g. John" asp-for="CustomerInformation.FirstName" />
                        </div>
                    </p>
                    <span class="help is-warning" asp-validation-for="CustomerInformation.FirstName"></span>
                </div>
                <div class="field">
                    <p class="control">
                        <label class="label">Last Name</label>
                        <input class="input" type="text" placeholder="e.g. Smith" asp-for="CustomerInformation.LastName" />
                    </p>
                    <span class="help is-warning" asp-validation-for="CustomerInformation.LastName"></span>
                </div>

                <label class="label">Phone Number</label>
                <div class="field-label"></div>
                <div class="field-body">
                    <div class="field is-expanded">
                        <div class="field has-addons">
                            <p class="control">
                                <a class="button is-static">
                                    +48
                                </a>
                            </p>
                            <p class="control is-expanded">
                                <input class="input" type="tel" asp-for="CustomerInformation.PhoneNumber" placeholder="512 623 452">
                            </p>
                        </div>
                        <span class="help is-warning" asp-validation-for="CustomerInformation.PhoneNumber"></span>
                    </div>
                </div>

                <div class="field">
                    <p class="control">
                        <label class="label">Email</label>
                        <input class="input" type="email" placeholder="e.g. johnsmith@gmail.com" asp-for="CustomerInformation.Email" />
                    </p>
                    <span class="help is-warning" asp-validation-for="CustomerInformation.Email"></span>
                </div>
                <div class="field">
                    <p class="control">
                        <label class="label">Address1</label>
                        <input class="input" type="text" placeholder="e.g. Wall Street 8" asp-for="CustomerInformation.Address1" />
                    </p>
                    <span class="help is-warning" asp-validation-for="CustomerInformation.Address1"></span>
                </div>
                <div class="field">
                    <p class="control">
                        <label class="label">Address2</label>
                        <input class="input" type="text" placeholder="e.g. 172" asp-for="CustomerInformation.Address2" />
                    </p>
                    <span class="help is-warning" asp-validation-for="CustomerInformation.Address2"></span>
                </div>
                <div class="field">
                    <p class="control">
                        <label class="label">City</label>
                        <input class="input" type="text" placeholder="e.g. New York" asp-for="CustomerInformation.City" />
                    </p>
                    <span class="help is-warning" asp-validation-for="CustomerInformation.City"></span>
                </div>
                <div class="field">
                    <p class="control">
                        <label class="label">Post Code</label>
                        <input class="input" type="text" placeholder="e.g. 10005" asp-for="CustomerInformation.PostCode" />
                    </p>
                    <span class="help is-warning" asp-validation-for="CustomerInformation.PostCode"></span>
                </div>
                <div class="field">
                    <button class="button is-success" type="submit">Submit</button>
                </div>
            </form>
        </div>
        <div class="column is-6 is-offset-1">
            <vc:cart view="Default"></vc:cart>
        </div>
    </div>
</div>