@page
@model Eshop.UI.Pages.Checkout.PaymentSuccessfulModel
@{
}

<div class="hero">
    <div class="hero-body">
        <div class="content has-text-centered">
            <p class="title">Payment successful</p>
            <img src="~/images/payment-successful.png" alt="" style="height: 128px;" />
            <div>
                <p class="subtitle">Wait for an email. </p>
                <p>We will send you an information about the further stage of your order.</p>
                <a asp-page="/Index" class="button is-success">Return</a>
            </div>
        </div>
    </div>
</div>
