@page
@model Eshop.UI.Pages.CartModel
@{
}


<div class="container">
    <div class="columns>">
        <div class="column is-8 is-offset-1">
            @foreach (var product in Model.Cart)
            {
                <div class="level">
                    <div class="level-item has-text-centered">
                                <img src="~/images/tshirt-red.jpg" alt="" style="height: 128px;"/>
                    </div>
                    <div class="level-item has-text-centered">
                        <p class="title">
                            @product.Name
                        </p>
                    </div>
                    <div class="level-item has-text-centered">
                        <p>@product.Qty</p>
                    </div>
                    <div class="level-item has-text-centered">
                        <p>@product.Value</p>
                    </div>
                </div>
            }

            <div class="has-text-right">
                <a asp-page="/Index" class="button is-text">Continue Shopping</a>
                <a asp-page="/Checkout/CustomerInformation" class="button is-success">Checkout</a>
            </div>

        </div>
    </div>
</div>

