@page
@model ErrorModel
@{
    ViewData["Title"] = "Error";
}

<h1 class="has-text-danger">Error.</h1>
<h2 class="text-danger">An error occurred while processing your request.</h2>
<p>_____________________________________________________________________</p>

<h2 class="has-text-danger">The product that you want to buy is not in the stock.</h2>
<h2 class="text-danger">Please try to <strong>add the another product or take less Qty</strong></h2>

@if (Model.ShowRequestId)
{
    <p>
        <strong>Request ID:</strong> <code>@Model.RequestId</code>
    </p>
}
